@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 0.5px solid black; */
    outline: none;
}

:root {
    --theme-color: #00000070;
}

.app-page {
    @apply bg-gradient-to-b from-green-300 to-fuchsia-600 min-h-screen w-full flex flex-col items-center justify-center;
}

.img-pacleholder {
    @apply bg-black bg-opacity-40 animate-pulse font-bold text-white;
}

.load-pacleholder {
    @apply bg-black bg-opacity-40 bg-opacity-40 animate-pulse;
}

.portrait-poster {
    @apply max-h-[74vh] max-w-[90vw];
}

.row {
    @apply flex flex-row flex-wrap gap-2;
}

.col {
    @apply flex flex-col gap-2;
}

.center {
    @apply items-center justify-center;
}

.btn-1 {
    @apply bg-opacity-50 hover:bg-opacity-100 py-2 px-4 rounded-lg active:scale-90 font-medium transition-all duration-300 ease-out;
}

.btn-2 {
    @apply py-2 px-4 rounded-none active:scale-90 font-medium transition-all duration-300 ease-out bg-gradient-to-br from-red-300 via-rose-400 to-purple-400 cursor-pointer hover:rounded-md;
}

.add-bg {
    @apply bg-black bg-opacity-40;
}

.h1 {
    @apply text-7xl font-black;
}

.h2 {
    @apply text-6xl font-extrabold;
}

.h3 {
    @apply text-5xl font-bold;
}

.h4 {
    @apply text-4xl font-semibold;
}

.h5 {
    @apply text-3xl font-medium;
}

.h6 {
    @apply text-2xl font-medium;
}

.fade_bottom {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    height: 30%;
    background: linear-gradient(
        to bottom,
        transparent 10%,
        var(--theme-color) 80%
    );
}

/* LOADER BAR */
.bar {
    position: fixed;
    top: 1;
    z-index: 1502;
    width: 0%;
    height: 4px;
    margin: 0 auto;
    animation: loadHoriz2 3s linear 1s infinite alternate;
}

.horizontal-bar-wrap {
    position: fixed;
    top: 1;
    z-index: 1502;
    height: 6px;
    width: 100%;
}

.bar1 {
    animation-delay: 0s;
    background: linear-gradient(to right, #ffff44, #00ffdd, #fc5692, #7efff4);
    border-radius: 6px;
    top: 0;
    z-index: 1;
}

@keyframes loadHoriz2 {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    74% {
        width: 74%;
    }

    88% {
        width: 88%;
    }

    94% {
        width: 94%;
    }

    100% {
        width: 100%;
    }
}
