@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 0.5px solid #fc5692; */
    outline: none;
}

:root {
    --theme-color: #00000070;
    --header-height: 80px;
    --test: #ff2f28;
}

body {
    @apply bg-gradient-to-b from-orange-300 to-yellow-600;
}

.app-header {
    height: var(--header-height);
    width: 100%;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @apply shadow-md gap-2;
}

.app-header > div {
    @apply inline-flex flex-row gap-2 items-center;
}

.app-page {
    @apply w-full flex flex-col items-center justify-center;
    min-height: calc(100vh - var(--header-height));
    /* from-emerald-800 to-fuchsia-700 */
}

.header-link {
    @apply rounded-t-sm border-b-2 bg-black/10 p-1 py-2 px-4 font-semibold text-black hover:bg-black/40 hover:text-white text-sm;
}

.genre-button {
    @apply py-2 px-4 bg-gradient-to-br from-pink-300 text-white to-red-900 text-xs rounded-lg hover:from-blue-500 hover:to-green-500;
}

@layer {
    .btn-hover {
        @apply active:scale-90 font-medium transition-all duration-300 ease-out;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.img-placeholder {
    @apply bg-black bg-opacity-40 animate-pulse font-bold text-white;
}

.load-placeholder {
    @apply bg-black bg-opacity-40 animate-pulse;
}

.portrait-poster {
    @apply max-h-[74vh] max-w-[90vw];
}

.row {
    @apply flex flex-row flex-wrap gap-2;
}

.col {
    @apply flex flex-col gap-2;
}

.center {
    @apply items-center justify-center;
}

.btn-1 {
    @apply bg-opacity-50 hover:bg-opacity-100 py-2 px-4 rounded-lg active:scale-90 font-medium transition-all duration-300 ease-out;
}

.btn-2 {
    @apply py-2 px-4 rounded-sm active:scale-90 font-medium transition-all duration-300 ease-out bg-gradient-to-br from-red-300 via-rose-400 to-purple-400 cursor-pointer hover:rounded-md;
}

.btn-3 {
    @apply py-2 px-4 rounded-lg active:scale-90 font-medium transition-all duration-300 ease-out;
}

.add-bg {
    @apply bg-black bg-opacity-40;
}

.h1 {
    @apply text-7xl font-black;
}

.h2 {
    @apply text-6xl font-extrabold;
}

.h3 {
    @apply text-5xl font-bold;
}

.h4 {
    @apply text-4xl font-semibold;
}

.h5 {
    @apply text-3xl font-medium;
}

.h6 {
    @apply text-2xl font-medium;
}

.fade_bottom {
    position: absolute;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, transparent 10%, var(--theme-color) 80%);
}

.search-input {
    @apply py-1 pr-6 pl-4 rounded-tr-md rounded-tl-md bg-transparent max-w-[200px] border-b-[3.0px] text-white;
    border-color: transparent;
    transition: all 500ms ease-in-out;
}

.search-input:placeholder-shown {
    max-width: 64px;
}

.search-input::placeholder {
    color: #d6d6d6;
}

.search-input:focus-visible,
.search-input:focus-within {
    @apply border-green-500 invalid:border-red-500 bg-black/40 pr-12;
}

.icon {
    @apply opacity-0 hover:opacity-100 cursor-pointer;
}

/* PersonBar */
.actor-avatar {
    @apply cursor-pointer hover:scale-105 active:scale-90 transition-all ease-linear;
}

.persons-container::-webkit-scrollbar {
    display: none;
}

.persons-container {
    scroll-padding: 2rem;
}

.prevent-scroll {
    overflow: hidden !important;
}

/* LOADER BAR */
.bar {
    position: fixed;
    top: 1;
    z-index: 1502;
    width: 0%;
    height: 4px;
    margin: 0 auto;
    animation: loadHoriz2 3s linear 1s infinite alternate;
}

.horizontal-bar-wrap {
    position: fixed;
    top: 1;
    z-index: 1502;
    height: 6px;
    width: 100%;
}

.bar1 {
    animation-delay: 0s;
    background: linear-gradient(to right, #ffff44, #00ffdd, #fc5692, #7efff4);
    border-radius: 6px;
    top: 0;
    z-index: 1;
}

@keyframes loadHoriz2 {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    74% {
        width: 74%;
    }

    88% {
        width: 88%;
    }

    94% {
        width: 94%;
    }

    100% {
        width: 100%;
    }
}
